{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Quote {% endblock %}</h1>

<form method="post">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label class="input-form" for="title">Author and Book</label>
                <input type="text" name="title"
                        placeholder="Author and Book" class="form-control"
                        value="{{ request.form['title'] }}"></input>
            </div>

            <div class="form-group">
                <label class="input-form" for="content">Quote</label>
                <textarea name="content" placeholder="Quote"
                            class="form-control">{{ request.form['content'] }}</textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}